*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(125deg, #e61414, #2716c0);
}
.todo-container{
    width: 100%;
    background: #fff;
    max-width: 400px;
    border-radius: 5px;
    margin: 100px auto 20px;
    padding: 30px 30px 20px;
}
.todo-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container .main-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
.main-row input{
    flex: 1;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.main-row button{
    margin-left: 10px;
    background-color: lightgreen;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.list-container{

}
#main{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

li{
    margin-right: 10px;
    margin-top: 6px;
    list-style: none;
}
li button {
    margin-left: 10px;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
}